clase13/slnChinookProject/Chinook.UI.WebForm/Connected Services/MantenimientoServices/MantenimientosServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Chinook.Entities.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Chinook.Entities.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlbunesVendidosQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbunesVendidosQuery" nillable="true" type="tns:AlbunesVendidosQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbunesVendidosQuery" nillable="true" type="tns:ArrayOfAlbunesVendidosQuery" />
  <xs:complexType name="AlbunesVendidosQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalQuantity" type="xs:int" />
      <xs:element minOccurs="0" name="TrackName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlbunesVendidosQuery" nillable="true" type="tns:AlbunesVendidosQuery" />
  <xs:complexType name="ArrayOfTracksVendidosQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TracksVendidosQuery" nillable="true" type="tns:TracksVendidosQuery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTracksVendidosQuery" nillable="true" type="tns:ArrayOfTracksVendidosQuery" />
  <xs:complexType name="TracksVendidosQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      <xs:element minOccurs="0" name="ArtistId" type="xs:int" />
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bytes" type="xs:int" />
      <xs:element minOccurs="0" name="Composer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MediaTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="MediaTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Milliseconds" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
      <xs:element minOccurs="0" name="TrackName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TracksVendidosQuery" nillable="true" type="tns:TracksVendidosQuery" />
</xs:schema>