clase12/slnChinookProject/Chinook.UI.WebForm/Connected Services/MantenimientoServices/MantenimientosServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54850/MantenimientosServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Chinook.Service.wcf" />
  <xs:import schemaLocation="http://localhost:54850/MantenimientosServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" />
  <xs:import schemaLocation="http://localhost:54850/MantenimientosServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Chinook.Entities.Queries" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Chinook.Service.wcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Chinook.Service.wcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="GetArtistByNameResult" nillable="true" type="q3:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="GetAllResult" nillable="true" type="q4:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="GetByIdResult" nillable="true" type="q5:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbunesVendidos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbunesVendidosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Chinook.Entities.Queries" minOccurs="0" name="GetAlbunesVendidosResult" nillable="true" type="q6:ArrayOfAlbunesVendidosQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Chinook.Entities.Base" minOccurs="0" name="artist" nillable="true" type="q7:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>